.logo {
  padding: 25px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: -2.5%;
  text-align: left;
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: 35px;
  text-shadow: 1.5px 2px 2px rgba(195, 191, 191, 0.684);
}

.header {
  border-radius: 5px 5px 0 0;
  background-color: rgb(var(--border-rgb));
  margin-top: 1%;
  margin-bottom: -1%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 25px;
}

.footer {
  background-color: rgb(var(--border-rgb));
  padding: 60px;
  margin-top: 2%;
}

.wrapper {
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 5px 5px;
  border-color: rgb(var(--border-rgb));
  margin-left: 5%;
  margin-right: 5%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  margin-bottom: 50px;
}

.card,
.back {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  margin: 10px 10px;
  border-radius: var(--border-radius);
  background: rgb(var(--card-rgb));
  border: 1px solid rgba(var(--card-border-rgb), 0.684);
  box-shadow: 1.5px 2px 2px rgba(195, 191, 191, 0.684);
  transition: background 200ms, border 200ms;
}

.card span,
.back span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2,
.back h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p,
.back p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center,
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 2rem 0;
  font-family: var(--font-mono);
  text-shadow: 1px 1px 1px rgba(195, 191, 191, 0.684);
}

.title {
  padding: 1rem 0 2rem 0;
}

.thumbnail {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.img,
.img_thumbnail {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: rgb(51, 51, 51);
}

.img_thumbnail {
  box-shadow: 1.5px 2px 2px rgba(195, 191, 191, 0.684);
}

.recipe_wrapper {
  padding: 15px 30px;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 0.1px;
  border-color: rgb(228, 228, 228);
  background: rgb(var(--card-rgb));
  box-shadow: 1.5px 2px 2px rgba(195, 191, 191, 0.684);
}

.left,
.ingr,
.dirs {
  text-align: left;
  width: 90%;
  padding: 1rem 0;
  font-family: var(--font-mono);
}

.left h2+p,
.ingr h2+p,
.dirs h2+p {
  margin-top: 10px;
}

.left h2+div,
.ingr h2+div,
.dirs h2+div {
  margin-top: 10px;
}

.left input+label,
.ingr input+label,
.dirs input+label {
  margin-left: 5px;
}

.ingr div+div {
  margin-top: 2px;
}

.dirs div+div {
  margin-top: 10px;
}

.dirs input {
  vertical-align: top;
  margin-top: 3px;
}

.dirs label {
  display: inline-block;
  width: 95%;
}

.no_recipe {
  font-size: x-large;
  font-family: 'Courier New';
  text-align: center;
  margin-top: 5%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

  .card:hover,
  .back:hover {
    background: rgb(var(--card-rgb));
    border: 1px solid rgba(var(--card-border-rgb), 0.684);
  }

  .card:hover span {
    transform: translateX(4px);
  }

  .back:hover span {
    transform: translateX(-4px);
  }
}

@media (prefers-reduced-motion) {

  .card:hover span,
  .back:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
    max-width: 320px;
    text-align: center;
  }

  .card,
  .back {
    padding: 1rem 2.5rem;
  }

  .card h2,
  .back h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 2rem 0 2rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}